body{
    font-family: sans-serif;
    color: white;
}

.side{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left{
    left: 0;
}

img{
    position: fixed;
    height: 100%;
    width: auto;
}

.right{
    right: 0;
    background-color: #225522;
}

.content{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.username,.password{
    text-align: left;
}

#username,#password{
    position:0;
    width: 90%;
    padding: 10px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 12px 12px 12px 12px;
}

.forgot{
    display: inline-flexbox;
}

.forgot a{
    text-decoration: none;
    text-align: right;
    color: #F1C232;
    float: right;
}

button{
    background-color: #F1C232;
    color: black;
    text-align: center;
    border:none;
    cursor: pointer;
    padding: 12px 20px;
    margin: 6px;
    border-radius: 12px 12px 12px 12px;
    width: 100%;
}

.signup{
    text-align: center;
    color: #FFFFFF;
}

.signup a{
    text-decoration: none;
    text-align: center;
    color: #F1C232;
    float:
}