.side-bar{
    background-color: #225522;
    height: 100%;
    width: 14vw;
    position: fixed;
    top: 0;
    left: 0;
}
 
.nav-bar{
    margin-top: 5vh;
    padding: 0;
    justify-items: center;
}

.nav-bar li{
    list-style-type: none;
    padding: 10px;
    box-sizing:content-box;
    width:12vw;
    text-align: center;   
    font-size: 24px; 
    /* border: #000000 solid 1px; */
 }

.side-bar .nav-bar a{
    justify-content: center;
    text-decoration: none; 
    color: #ffffff;
} 

.nav-bar li:hover{
    background: rgba(217, 217, 217, 0.5);
    width: 14vw;
}




/* .nav-bar li:hover a.active {
    background: rgba(84, 75, 75, 0.5);
    width: 14vw;
} */

/* 
.nav-bar li:hover, .active a{
    color: black;   
}  */

/* .nav-bar li:hover a.active {
    background: rgba(230, 244, 45, 0.5);
    width: 14vw;
    padding: 10px;
    box-sizing:content-box;
    
}
*/
.nav-bar li:hover a
{
    color: black;
} 

.nav-bar li a.active {
    background: rgba(230, 244, 45, 0.5); /* Highlight active link */
    color: #000000; /* Active link text color */
    padding: 10px 40px;
}
 
.nav-bar li.active {
    width: 14vw;
    transition: width 0.3s ease;
}
