.side-bar{
    background-color: #225522;
    height: 100%;
    width: 14vw;
    position: fixed;
    top: 0;
    left: 0;

}

.nav-bar{
    margin-top: 5vh;
    padding: 0;
    justify-items: center;
}
.nav-bar li{
    list-style-type: none;
    padding: 20px;
    box-sizing:content-box;
    width:12vw;
    text-align: center;
    /* border: #000000 solid 1px; */
}

.nav-bar a{
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 28px;  
}

.nav-bar li:hover, .active{
    background: rgba(217, 217, 217, 0.5);
    
}

.nav-bar li:hover, .active a{
    color: black;   
}

 
