.menu-container {
    padding-top: 0px;
}

h1 {
    padding: 10px;
    font-size: 28px;
    color: #000;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}

th {
    background-color: #d9d9d9;
}

/* .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
} */

.action-buttons button {
    width: 120px;
    padding: 8px 10px;
    margin: 0 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reply-btn {
    background-color: #6fa857;
}

.reply-btn:hover {
    background-color: #225522;
}

.reply-btn.sent {
    background-color: red;
    color: white;
}
  
  /* Modal Styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left:50%;
    top:20%;
    overflow: auto;
    width: 40%;
    height: 52%;
    /* background-color: #d9d9d9; */
}
  
.modal-content {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 250px;
    text-align: center;

}
  
.open-popup{
    visibility:visible;
    top:0;
}
.close-btn {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #225522;  
}
  
.modal-content h3{
    font-size: 18px;
    color: #000;
    margin: 1.5vh 0;
}

.modal-content input{
    width: 200px;
    height: 3vh;
    padding: 12px;
    border-radius: 10px;
    margin: 20px;
}

#submitTableNo{
    margin-top: 3vh;
    width: 120px;
    height: 30px;
    font-size: 16px;
    background-color:#F1C232 ;
    border-radius: 10px;
    color: #000;
}


.action-buttons button,
.action-buttons a {
    width: 100px;
    padding: 8px 10px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.edit-btn {
    background-color: #6fa857;
}

.edit-btn:hover {
    background-color: #225522; 
}

.add-btn {
    background-color: #F1C232;
}

.add-btn:hover {
    background-color: #dfb32f;
}

.delete-btn {
    background-color: #d9534f;
}

.delete-btn:hover {
    background-color: #c9302c;
}
