.logo {
    height: 60px;

}

.navbar {
    height: 70px;
    /* Set the desired height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
ul.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Keep nav items consistent */
.nav-item {
    display: flex;
    align-items: center;
}

/* Space around the link text */
.nav-link {
    color: #000;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 16px;
    transition: 0.2s;
}