*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

/* header */
header{
    background-image: url("../../public/images/back.jpg") ;
    background-size: cover;
    height:100vh;   
}

.logo{
    width:7vw;
    height:7vh;
}

ul {
    display:flex;
    gap: 20px;
    list-style:none;
    padding-right: 20px;  
}


.navbar{
    /* background: ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: #D9D9D9;   
}


.nav-link{
    color: #000000;
    text-decoration: none;
    padding: 10px 10px;
    transition: 0.2;
    font-size: 20px;   
}


.main{
    /* display: flex; */
    /* margin-top: 20vh; */
    padding-top: 20vh;
    padding-bottom: 10vh;
    /* background-color: #000000 transparent; */
    background-color: rgba(0, 0, 0, 0.6);
    justify-items: center;
    /* width: 100%;
    height: 100vh; */
    /* justify-content: center; */
    /* align-items: center;    */
}

.main h2{
    font-size: 75px;
    /* margin-left: 3vw; */
    color: #F9F6F7;
    /* justify-content: center; */
}

.main p{
    font-size: 30px;
    margin-left: 8vw;
    color: #F9F6F7;
    margin-top: 3vh;
   
}

.main button{
    align-content: center;
    cursor:pointer;
    border: none;
    background: #F1C232;
    padding: 10px 30px 10px;
    margin-left:20vw;
    margin-top: 5vh;
    font-size: 25px;
    border-radius: 30px;   
}



/* features */
.main-feature{
    /* background-color:  #D9D9D9; */
    /* margin-top: 10vh; */
    padding-bottom: 4vh;
    /* justify-items:  center; */
}


 .services{
    /* display: flex;  */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin-top: 8px; */
    margin-left: 9vw;
    
    padding-top: 5vh;
    /* background-color: #D9D9D9; */
 }

 .serve-image{
    width: 20vw;
    height: 50vh;
    margin-left: 60px;
    /* margin-top: 2px; */
 }

 .service-one{
    /* display: flex; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 60px; */
    margin-right: 150px; 
    gap:100px;
    box-sizing: border-box;
 }

 /* .service-two{ */
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-right:200px; 
    gap:80px;
    box-sizing:border-box;
   
 } */

 .service img{
    width: 5vw;
    height: 10vh;
    padding:10px;
    
 }

.service{
    border-radius: 20px;
    padding: 20px;
    width:19vw;
    align-content: center;
    justify-items: center;
    height: 22vh;
    background-color: #F9F6F7;
    border: #225522 solid 2px;
}

 .services p{
    font-size: 18px;  
    color: #000000;
    
 }

 .services h3{
    font-size: 30px;
    text-align: center;   
    color: #225522;
 }

 /* service-features */
 
 .features img{
    width:14vw;
 }

.fea-1{
    display: flex;
    gap:30px;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
}

.fea-1 h3{
    font-size: 32px;
    color: #000000;
    margin-left: 60px;
 }

 .fea-1 p{
    font-size: 24px;
    color: #000000;
    margin-left: 60px;
    margin-top: 10px;
 }

.fea-1 button{
    cursor:pointer;
    border: none;
    background: #F1C232;
    padding: 10px 30px 10px;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 30px;
    color: #000000;
}
/* Container styling */
.img-slider{
    margin-top: 1vh;
    padding: 40px 0;
    /* background-color: #D9D9D9; */
}

.container{ 
    border-radius: 50px;
    margin-left: 6vw;
    height: 50vh;
    width:42vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container .img-container{
   height: 100%;
   width: 100%;
}

.container .img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.img-slider-one{
    margin-top: 4vh;
    padding-top: 100px 0;
    /* background-color: #D9D9D9; */
}

.container-one{ 
    border-radius: 50px;
    margin-left: 2vw;
    height: 30vh;
    width:42vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container-one .img-container-one{
   height: 100%;
   width: 100%;
}

.container-one .img-container-one img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.container-part-two{
    display:flex;
}

.img-slider-two{
   
    padding: 5px 0;
    /* background-color: #D9D9D9; */
}

.container-two{ 
    border-radius: 50px;
    margin-left: 2vw;
    height: 20vh;
    width:20vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container-two .img-container-two{
   height: 100%;
   width: 100%;
}

.container-two .img-container-two img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.container-part-three{
    display:flex;
}
.img-slider-three{
    padding: 5px 0;
    /* background-color: #D9D9D9; */
}

.container-three{ 
    border-radius: 50px;
   
    height: 20vh;
    width:20vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container-three .img-container-three{
   height: 100%;
   width: 100%;
}

.container-three .img-container-three img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.fea-2{
    /* float: right; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 800px;
    /* margin-right: 40px; */
}


.fea-2 h3{
    font-size: 32px;
    color: #000000;
    margin-right: 60px;
 }

.fea-2 p{
    font-size: 24px;
    color: #000000;
    margin-right: 60px;
    margin-top: 10px;
}

.fea-2 button{
    cursor:pointer;
    border: none;
    background: #F1C232;
    padding: 10px 30px 10px;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 30px;
   
}

.explo{
    color: #000000;
    background-color: #225522;
    width:150px;
    height:50px;
    border-radius :20px;
    font-size: 20px;
}


/* about us */
.about-us{
    height: 50vh;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us img{
    width:40vw;
    height: 40vh;
    margin-left: 60px;
}


.share{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.share img{
    width: 2vw;
    margin-top: 5vh;
}
 
 
/* review  */
.reviews{
    background-color: #D9D9D9;
    
    
}
.review-container{
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
    scrollbar-color: #046c33 #f5f5f5;
    scroll-snap-align: start;
}

.review-content{
    display:flex;
    overflow: hidden;
    gap: 2rem;
    margin-left: 2vw;
    min-width: 4000px;
}

.review-heading{  
    padding: 30px;
    color: #225522;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.customer-pic img{
    height: 100px; 
    width:120px; 
    border-radius: 60px;
    margin:20px;
}

.review-slide{
    display:block;
    padding: 25px;    
    height: 300px;
    width: 500px;
    margin-left: 2vw;
    border: #225522 solid 2px;
    background-color: #ffffff;
    margin:8vh 0;
}