*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

/* header */
header{
    background-image: url("../../public/images/back.jpg") ;
    background-size: cover;
    height:100vh;   
}

.main{
    padding-top: 30vh;
    padding-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-items: center; 
}

.main h2{
    font-size: 56px;
    color: #F9F6F7;
}

.main p{
    font-size: 28px;
    margin-left: 7vw;
    color: #F9F6F7;
    margin-top: 3vh;  
}

.main button{
    align-content: center;
    cursor:pointer;
    border: none;
    background: #F1C232;
    padding: 10px 30px 10px;
    margin-left:17vw;
    margin-top: 5vh;
    font-size: 20px;
    border-radius: 30px;   
}



/* features */
.main-feature{
    padding-bottom: 4vh;
}

 .services{
    margin-left: 9vw;  
    padding-top: 5vh;
 }

 .serve-image{
    width: 20vw;
    height: 50vh;
    margin-left: 60px;
 }

 .service-one{
    /* display: flex; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 60px; */
    margin-right: 150px; 
    gap:90px;
    box-sizing: border-box;
 }

 .service img{
    width: 5vw;
    height: 10vh;
    padding:10px;
    
 }

.service{
    border-radius: 20px;
    padding: 20px;
    width:19vw;
    align-content: center;
    justify-items: center;
    height: 22vh;
    background-color: #F9F6F7;
    border: #225522 solid 2px;
}

 .services p{
    font-size: 14px;  
    color: #000000;
    text-align: center;
 }

 .services h3{
    font-size: 18px;
    text-align: center;   
    color: #225522;
 }

 /* service-features */
 .service-features{
    background-color: #D9D9D9;
 }

 .features img{
    width:14vw;
 }

.fea-1{
    display: flex;
    gap:30px;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
}

.fea-1 h3{
    font-size: 24px;
    color: #225522;
    margin-left: 60px;
 }

 .fea-1 p{
    font-size: 14px;
    color: #000000;
    margin-left: 60px;
    margin-top: 10px;
 }

.fea-1 button{
    cursor:pointer;
    border: none;
    background: #F1C232;
    padding: 10px 30px 10px;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 30px;
    color: #000000;
}



.fea-2{
    /* float: right; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 700px;
    /* margin-right: 40px; */
}


.fea-2 h3{
    font-size: 24px;
    color: #225522;
    margin-right: 60px;
 }

.fea-2 p{
    font-size:14px;
    color: #000000;
    margin-right: 60px;
    margin-top: 10px;
}

.fea-2 button{
    cursor:pointer;
    border: none;
    background: #F1C232;
    padding: 5px 10px 5px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 30px;  
}

.explo{
    color: #000000;
    background-color: #225522;
    width:150px;
    height:40px;
    border-radius :20px;
    font-size: 18px;
}
 
.details button a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
/* Container styling */
.slider{
    display: flex;
}
.img-slider{
    margin-top: 1vh;
    padding: 40px 0;
}

.container{ 
    border-radius: 50px;
    margin-left: 6vw;
    height: 52vh;
    width:42vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container .img-container{
   height: 100%;
   width: 100%;
}

.container .img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.img-slider-one{
    margin-top: 6vh;
    padding-top: 100px 0;
    /* background-color: #D9D9D9; */
}

.container-one{ 
    border-radius: 50px;
    margin-left: 2vw;
    height: 31vh;
    width:42vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container-one .img-container-one{
   height: 100%;
   width: 100%;
}

.container-one .img-container-one img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.container-part-two{
    display:flex;
}

.img-slider-two{ 
    padding: 5px 0;
}

.container-two{ 
    border-radius: 50px;
    margin-left: 2vw;
    height: 21vh;
    width:20vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container-two .img-container-two{
   height: 100%;
   width: 100%;
}

.container-two .img-container-two img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.container-part-three{
    display:flex;
}

.img-slider-three{
    padding: 5px 0;
    /* background-color: #D9D9D9; */
}

.container-three{ 
    border-radius: 50px;
    margin-left: 0;
    height: 21vh;
    width:20vw;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
}

.container-three .img-container-three{
   height: 100%;
   width: 100%;
}

.container-three .img-container-three img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

 
/* review  */
.reviews{
    margin-bottom: 2vh;
}

.review-container{
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
    scrollbar-color: #046c33 #f5f5f5;
    scroll-snap-align: start;
}

.review-content{
    display:flex;
    overflow: hidden;
    gap: 2rem;
    margin-left: 2vw;
    min-width: 5000px;
}

.review-heading{  
    padding: 30px;
    color: #225522;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}


.review-slide{
    display:block;
    padding: 25px;    
    height: 320px;
    width: 500px;
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px #111111;
    /* border: #225522 solid 2px; */
    background-color: #ffffff;
    margin:4vh 0;
    font-size: 14px;
}

.review{
    border: #000 1px solid; 
    padding: 10px; 
}

.customer-pic img{
    height: 70px; 
    width:70px; 
    border-radius: 60px;
    margin:10px;
}

.customer-details{
    text-align: center; 
    padding: 40px 20px;
}

.customer-info{
    display: flex;
}

.review-slide .reponse{
    padding: 5px; 
    margin-left: 5vw; 
    margin-top: 1vh; 
    width:25vw; 
    border: #225522 solid 1px ; 
    height: 7vh; 
    font-size: 14px;
}

/* about us */
.about-us{
    background-color: #D9D9D9;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us img{
    width:40vw;
    height: 40vh;
    margin-left: 60px;
}

.about-content{
    font-size: 14px; 
    padding: 60px 50px;
}

.describe{
    margin-bottom:10px ;
}

